


header {
    display: flex;
    background-color: cadetblue;
    margin: 0px 0px 0px 0px;
}
nav {
    margin: 20px;
    padding: 5px;
    
}
nav a {
    margin: 2px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
}
.logo {
    text-align: center;
}
.picture-1, .picture-2, .picture-3, .picture-4 {
    width: 50%;
    margin: 2px;
    padding: 2px;
}
.text-1, .text-2, .text-3, .text-4 {
    width: 70%
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}


.item-1,
.item-2,
.item-3,
.item-4 {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 10px;
}
.program-left {
  width: 65%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.program-right {
  width: 45%;
}
.program {
  display: flex;
}

.service-1,
.service-2,
.service-3,
.service-4 {
  text-align: center;
  font-family: sans-serif;
  margin: 10px;
  padding: 5px;
}

.service {
  display: flex;
  background-color: white;
}
.product {
  display: flex;
  background-color: rgb(196, 196, 243);
}
.product-1,
.product-2,
.product-3 {
  background-color: white;
  margin: 15px;
  padding: 15px;
  font-size: 17px;
  font-family: sans-serif;
  color: black;
  width: 40%;
}
.product h5 {
  font-size: 18px;
  text-align: left;
}
.footer-distribute {
  display: flex;
  background-color: black;
}
.footer-right,
.footer-left {
  background-color: black;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  width: 50%;
  color: white;
  font-family: sans-serif;
}
footer h5 {
  font-size: 20px;
}
